<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./static/style.css"> -->
    <title>Forms</title>
</head>
<body style="background-color: rgb(99, 236, 236);">
    <h1>Hello, I'm from HTML heading Content.</h1>
    <h2>   {{ in_form }} </h2>

  
    <form action="/action_page.php" method="get">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>

    

</body>
</html>